# please only list module, that are part of the default anaconda software channel
# further pip only modiles are lited in setup.py
####### via setup.py
# argparse
####### via setup.py
# attrdict
configparser
#copy
####### via setup.py
# jstyleson
matplotlib
netCDF4
numpy
#os
pandas
#platform
#sys
####### via pip
git+https://github.com/hdeneke/trosat-base
xarray
